<div ng-controller="navBarController" ng-cloak>
  <div class="navbar navbar-default margin/right-12">
    <form ng-hide="<%= me.id != null %>" ng-submit="submitLoginForm()" class="navbar-form navbar-right">
      <div class="form-group">
        <input ng-model="loginForm.login" type="text" placeholder="email or username" name="login" class="form-control">
      </div>
      <div class="form-group">
        <input ng-model="loginForm.password" type="password" placeholder="Password" name="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-success nav-form-btn">
      <span class="fa fa-spinner" style="position: absolute"></span>
      <span ng-show="!loginForm.loading">Sign in</span>
      <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
      <span ng-show="loginForm.loading">Signing in...</span>
      </button>
      <input type="hidden" ng-model="loginForm._csrf" name="_csrf" value="<%= _csrf %>" />
    </form>
    <div />
      <ul ng-show="<%= me.id != null %>" class="nav navbar-right nav-a-btn">
          <a class="btn btn-success" href="/logout">Sign Out</a>
      </ul>
  </div>
</div>