<div ng-controller="homePageController" class=" col-md-8 col-md-offset-2" ng-cloak>
  <div class="jumbotron">
    <h1 class="jumboHeading">PlantMonitor</h1>
    <a ng-hide=<%= me.id %> href="/signup" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
</div>