<div ng-controller="homePageController" class=" col-md-8 col-md-offset-2" ng-cloak>
  <div class="jumbotron">
    <h1 class="jumboHeading">Garden Monitor</h1>
    <div class="jumboSubHeading">
      <a href="/measurementHistory" class="btn btn-lg btn-success">Measurement Logs</a>
    </div>
  </div>
</div>