<div ng-controller="measurementHistoryController" class=" col-md-8 col-md-offset-2" ng-cloak>
  <div class="jumbotron">
    <h1 class="jumboHeading">Plant Monitor</h1>
  </div>
  <div ng-show=<%= me.id != null %>>
    <div class="loading" ng-if="measurementsLoading">
      Loading measurements...
    </div>
    <nvd3 
      options="tempOptions"
      data="tempData"
      config="config"
      events="events"
      on-ready="callback"></nvd3>
    <nvd3 
      options="lightOptions"
      data="lightData"
      config="config"
      events="events"
      on-ready="callback"></nvd3>
  </div>
</div>
