<div ng-controller="measurementHistoryController" class=" col-md-8 col-md-offset-2" ng-cloak>
  <div class="jumbotron">
    <h1 class="jumboHeading">Plant Monitor</h1>
  </div>
  <div ng-show=<%= me.id != null %>>
    <div class="loading" ng-if="measurementsLoading">Loading measurements...</div>
      <nvd3 
        options="options"
        data="data"
        config="config"
        events="events"
        api="api"
        on-ready="callback" />
    </div>
  </div>
</div>